# This file contains the environment variables that are used in the application

# Rename this file to .env and fill in the values for the variables

# API key
API_TOKEN = your_access_token

# Database Credentials
DB_USER = your_db_user
DB_PASSWORD = your_db_password
HOST_IP = your_host_ip